<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间mapper,如果有多个mapper文件，这个必须唯一 -->
<mapper namespace="di.yang.module.product">
    <!--产品列表-->
    <insert id="addProductInfo" parameterType="di.yang.module.product.Product">
        INSERT INTO product_product (productname,productdesc,producter,createTime,delflag)
        VALUES (#{productname},#{productdesc},#{producter},NOW(),#{delflag});

    </insert>
    <update id="updataProudctData" parameterType="di.yang.module.product.Product">
        UPDATE product_product
        <trim prefix="set" suffixOverrides=",">
            <if test="productname != null and '' !=productname">
                productname=#{productname},</if>
            <if test="productdesc != null and '' !=productdesc">
                productdesc=#{productdesc},</if>
            <if test="delflag != null and '' !=delflag">
                delflag=#{delflag},</if>
            <if test="producter != null and '' !=producter">
                producter=#{producter},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <select id="selectProudctData" parameterType="di.yang.module.product.Product" resultType="di.yang.module.product.Product">
        select * from product_product
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="null != id and '' !=id">
                AND id=#{id}
            </if>
            <if test="null != productname and '' !=productname">
                AND productname like '%${productname}%'
            </if>
            <if test="null != producter and '' !=producter">
                AND producter like '%${producter}%'
            </if>
            <if test="null != createTime and '' !=createTime">
                AND createTime like '%${createTime}%'
            </if>
            <if test="null != delflag and '' !=delflag">
                AND delflag like '%${delflag}%'
            </if>
        </trim>
        limit #{pagesize} offset #{pagenum}
    </select>



</mapper>