<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间mapper,如果有多个mapper文件，这个必须唯一 -->
<mapper namespace="di.yang.module.api">

    <!--添加接口业务流程测试产品数据-->
    <insert id="addApiProcessTest" parameterType="di.yang.module.api.apiProcessTest">
        INSERT INTO api_process_test (apitestname,apitestdesc,apitester,createTime,productId)
        VALUES (#{apitestname},#{apitestdesc},#{apitester},NOW(),#{productId})
    </insert>

    <!--添加接口业务流程测试步骤用例-->
    <insert id="addApiProcessStep" parameterType="di.yang.module.api.apiProcessStep">
        INSERT INTO api_process_step (id,apiname,apiurl,apistep,apiparamvalue,apimethod,apiresult,createTime,apitestId)
        VALUES (#{id},#{apiname},#{apiurl},#{apistep},#{apiparamvalue},#{apimethod},#{apiresult},NOW(),#{apitestId})
    </insert>

    <!--更新接口业务流程测试产品数据-->
    <update id="updataApiProcessTest" parameterType="di.yang.module.api.apiProcessTest">
        UPDATE api_process_test
        <trim prefix="set" suffixOverrides=",">
            <if test="apitestname != null and '' !=apitestname">
                apitestname=#{apitestname},</if>
            <if test="apitestdesc != null and '' !=apitestdesc">
                apitestdesc=#{apitestdesc},</if>
            <if test="apitester != null and '' !=apitester">
                apitester=#{apitester},</if>
            <if test="apitestresult != null and '' !=apitestresult">
                apitestresult=#{apitestresult},</if>
        </trim>
        WHERE id = #{id} AND productId = #{productId}
    </update>

    <!--更新接口业务流程测试步骤用例-->
    <update id="updataApiProcessStep" parameterType="di.yang.module.api.apiProcessStep">
        UPDATE api_process_step
        <trim prefix="set" suffixOverrides=",">
            <if test="apiname != null and '' !=apiname">
                apiname=#{apiname},</if>
            <if test="apiurl != null and '' !=apiurl">
                apiurl=#{apiurl},</if>
            <if test="apistep != null and '' !=apistep">
                apistep=#{apistep},</if>
            <if test="apiparamvalue != null and '' !=apiparamvalue">
                apiparamvalue=#{apiparamvalue},</if>
            <if test="apimethod != null and '' !=apimethod">
                apimethod=#{apimethod},</if>
            <if test="apiresult != null and '' !=apiresult">
                apiresult=#{apiresult},</if>
            <if test="apiresponse != null and '' !=apiresponse">
                apiresponse=#{apiresponse},</if>
            <if test="apistatus != null and '' !=apistatus">
                apistatus=#{apistatus},</if>
            <if test="isreplace != null and '' !=isreplace">
                isreplace=#{isreplace},</if>
            <if test="requestLevel != null and '' !=requestLevel">
                request_level=#{requestLevel},</if>
            <if test="reponseLevel != null and '' !=reponseLevel">
                reponse_level=#{reponseLevel},</if>
            <if test="requestKey1 != null and '' !=requestKey1">
                request_key1=#{requestKey1},</if>
            <if test="requestKey2 != null and '' !=requestKey2">
                request_key2=#{requestKey2},</if>
            <if test="requestKey3 != null and '' !=requestKey3">
                request_key3=#{requestKey3},</if>
            <if test="reponseKey1 != null and '' !=reponseKey1">
                reponse_key1=#{reponseKey1},</if>
            <if test="reponseKey2 != null and '' !=reponseKey2">
                reponse_key2=#{reponseKey2},</if>
            <if test="reponseKey3 != null and '' !=reponseKey3">
                reponse_key3=#{reponseKey3},</if>
        </trim>
        WHERE id = #{id} AND apitestId=#{apitestId}
    </update>

    <!--更新api业务流程测试步骤请求参数-->
    <update id="updataApiProcessStepRequest" parameterType="di.yang.VO.AutoReplaceValueVo">
        UPDATE api_process_step set apiparamvalue=#{apiparamvalue} WHERE apitestId = #{apitestId} AND apistep = #{apistep}
    </update>

    <!--查询接口业务流程测试产品数据-->
    <select id="getApiProcessTestInfo" parameterType="di.yang.module.api.apiProcessTest" resultType="di.yang.module.api.apiProcessTest">
        select * from api_process_test
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="null != id and '' !=id">
                AND id=#{id}
            </if>
            <if test="null != apitestname and '' !=apitestname">
                AND apitestname like '%${apitestname}%'
            </if>
            <if test="null != apitester and '' !=apitester">
                AND apitester like '%${apitester}%'
            </if>
            <if test="null != apitestresult and '' !=apitestresult">
                AND apitestresult=#{apitestresult}
            </if>
            <if test="null != createTime and '' !=createTime">
                AND createTime like '%${createTime}%'
            </if>
            <if test="null != productId and '' !=productId">
                AND productId=#{productId}
            </if>
        </trim>
    </select>

    <!--apiProcessStep类resultMap-->
    <resultMap id="ApiProcessStepMap" type="di.yang.module.api.apiProcessStep">
        <id property="id" column="id"/>
        <result property="apiname" column="apiname"/>
        <result property="apiurl" column="apiurl"/>
        <result property="apistep" column="apistep"/>
        <result property="apiparamvalue" column="apiparamvalue"/>
        <result property="apimethod" column="apimethod"/>
        <result property="apiresult" column="apiresult"/>
        <result property="apiresponse" column="apiresponse"/>
        <result property="apistatus" column="apistatus"/>
        <result property="createTime" column="createTime"/>
        <result property="apitestId" column="apitestId"/>
        <result property="isreplace" column="isreplace"/>
        <result property="requestLevel" column="request_level"/>
        <result property="reponseLevel" column="reponse_level"/>
        <result property="requestKey1" column="request_key1"/>
        <result property="requestKey2" column="request_key2"/>
        <result property="requestKey3" column="request_key3"/>
        <result property="reponseKey1" column="reponse_key1"/>
        <result property="reponseKey2" column="reponse_key2"/>
        <result property="reponseKey3" column="reponse_key3"/>
    </resultMap>
    <!--查询接口业务流程测试步骤用例-->
    <select id="getApiProcessStepInfo" parameterType="di.yang.module.api.apiProcessStep" resultMap="ApiProcessStepMap">
        select * from api_process_step
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="null != id and '' !=id">
                AND id=#{id}
            </if>
            <if test="null != apiname and '' !=apiname">
                AND apiname=#{apiname}
            </if>
            <if test="null != apiurl and '' !=apiurl">
                AND apiurl=#{apiurl}
            </if>
            <if test="null != apistep and '' !=apistep">
                AND apistep=#{apistep}
            </if>
            <if test="null != apiparamvalue and '' !=apiparamvalue">
                AND apiparamvalue=#{apiparamvalue}
            </if>
            <if test="null != apimethod and '' !=apimethod">
                AND apimethod=#{apimethod}
            </if>
            <if test="null != apiresult and '' !=apiresult">
                AND apiresult=#{apiresult}
            </if>
            <if test="null != apistatus and '' !=apistatus">
                AND apistatus=#{apistatus}
            </if>
            <if test="null != createTime and '' !=createTime">
                AND createTime like '%${createTime}%'
            </if>
            <if test="null != apitestId and '' !=apitestId">
                AND apitestId=#{apitestId}
            </if>
            <if test="null != isreplace and '' !=isreplace">
                AND isreplace=#{isreplace}
            </if>
            <if test="null != requestLevel and '' !=requestLevel">
                AND request_level=#{requestLevel}
            </if>
            <if test="null != reponseLevel and '' !=reponseLevel">
                AND reponse_level=#{reponseLevel}
            </if>
        </trim>
    </select>

    <!--通过产品编号查询api业务流程测试步骤-->
    <select id="selectApiProcessStepByProductId" parameterType="Integer" resultMap="ApiProcessStepMap">
      SELECT * from api_process_step where apitestId = #{apitestId} ORDER BY apistep
    </select>

    <!--增加单一接口测试用例-->
    <insert id="addApiSingleTest" parameterType="di.yang.module.api.apiSingleTest">
        INSERT INTO api_single_test (apiname,apiurl,apiparamvalue,apimethod,createTime,productId)
        VALUES (#{apiname},#{apiurl},#{apiparamvalue},#{apimethod},NOW(),#{productId})
    </insert>

    <!--更新单一接口测试用例-->
    <update id="updataApiSingleTest" parameterType="di.yang.module.api.apiSingleTest">
        UPDATE api_single_test
        <trim prefix="set" suffixOverrides=",">
            <if test="apiname != null and '' !=apiname">
                apiname=#{apiname},</if>
            <if test="apiurl != null and '' !=apiurl">
                apiurl=#{apiurl},</if>
            <if test="apiparamvalue != null and '' !=apiparamvalue">
                apiparamvalue=#{apiparamvalue},</if>
            <if test="apimethod != null and '' !=apimethod">
                apimethod=#{apimethod},</if>
        </trim>
        WHERE id = #{id} AND productId=#{productId}
    </update>

    <!--添加单一接口测试结果-->
    <update id="updataApiSingleTestResult" parameterType="di.yang.module.api.apiSingleTest">
        UPDATE api_single_test SET apiresponse=#{apiresponse},apistatus=#{apistatus} WHERE id = #{id} AND productId = #{productId}
    </update>

    <!--单一接口测试用例查询-->
    <select id="getApiSingleTestInfo" parameterType="di.yang.module.api.apiSingleTest" resultType="di.yang.module.api.apiSingleTest">
        select * from api_single_test
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="null != id and '' !=id">
                AND id=#{id}
            </if>
            <if test="null != apiname and '' !=apiname">
                AND apiname like '%${apiname}%'
            </if>
            <if test="null != apiurl and '' !=apiurl">
                AND apiurl like '%${apiurl}%'
            </if>
            <if test="null != apiparamvalue and '' !=apiparamvalue">
                AND apiparamvalue like '%${apiparamvalue}%'
            </if>
            <if test="null != apimethod and '' !=apimethod">
                AND apimethod=#{apimethod}
            </if>
            <if test="null != apiresult and '' !=apiresult">
                AND apiresult like '%${apiresult}%'
            </if>
            <if test="null != apistatus and '' !=apistatus">
                AND apistatus=#{apistatus}
            </if>
            <if test="null != createTime and '' !=createTime">
                AND createTime like '%${createTime}%'
            </if>
            <if test="null != productId and '' !=productId">
                AND productId=#{productId}
            </if>
        </trim>
    </select>

</mapper>