<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间mapper,如果有多个mapper文件，这个必须唯一 -->
<mapper namespace="di.yang.module.api">

    <!--添加接口业务流程测试产品数据-->
    <insert id="addApiProcessTest" parameterType="di.yang.module.api.apiProcessTest">
        INSERT INTO api_process_test (apitestname,apitestdesc,apitester,createTime,productId)
        VALUES (#{apitestname},#{apitestdesc},#{apitester},NOW(),#{productId})
    </insert>

    <!--添加接口业务流程测试步骤用例-->
    <insert id="addApiProcessStep" parameterType="di.yang.module.api.apiProcessStep">
        INSERT INTO api_process_step (apiname,apiurl,apistep,apiparamvalue,apimethod,apiresult,createTime,apitestId)
        VALUES (#{apiname},#{apiurl},#{apistep},#{apiparamvalue},#{apimethod},#{apiresult},NOW(),#{apitestId})
    </insert>

    <!--更新接口业务流程测试产品数据-->
    <update id="updataApiProcessTest" parameterType="di.yang.module.api.apiProcessTest">
        UPDATE api_process_test
        <trim prefix="set" suffixOverrides=",">
            <if test="apitestname != null and '' !=apitestname">
                apitestname=#{apitestname},</if>
            <if test="apitestdesc != null and '' !=apitestdesc">
                apitestdesc=#{apitestdesc},</if>
            <if test="apitester != null and '' !=apitester">
                apitester=#{apitester},</if>
            <if test="productId != null and '' !=productId">
                productId=#{productId},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <!--更新接口业务流程测试步骤用例-->
    <update id="updataApiProcessStep" parameterType="di.yang.module.api.apiProcessStep">
        UPDATE api_process_step
        <trim prefix="set" suffixOverrides=",">
            <if test="apiname != null and '' !=apiname">
                apiname=#{apiname},</if>
            <if test="apiurl != null and '' !=apiurl">
                apiurl=#{apiurl},</if>
            <if test="apistep != null and '' !=apistep">
                apistep=#{apistep},</if>
            <if test="apiparamvalue != null and '' !=apiparamvalue">
                apiparamvalue=#{apiparamvalue},</if>
            <if test="apimethod != null and '' !=apimethod">
                apimethod=#{apimethod},</if>
            <if test="apitestId != null and '' !=apitestId">
                apitestId=#{apitestId},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <!--查询接口业务流程测试产品数据-->
    <select id="getApiProcessTestInfo" parameterType="di.yang.module.api.apiProcessTest" resultType="di.yang.module.api.apiProcessTest">
        select * from api_process_test
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="null != id and '' !=id">
                AND id=#{id}
            </if>
            <if test="null != apitestname and '' !=apitestname">
                AND apitestname=#{apitestname}
            </if>
            <if test="null != apitester and '' !=apitester">
                AND apitester=#{apitester}
            </if>
            <if test="null != apitestresult and '' !=apitestresult">
                AND apitestresult=#{apitestresult}
            </if>
            <if test="null != createTime and '' !=createTime">
                AND createTime like '%${createTime}%'
            </if>
            <if test="null != productId and '' !=productId">
                AND productId=#{productId}
            </if>
        </trim>
    </select>

    <!--查询接口业务流程测试步骤用例-->
    <select id="getApiProcessStepInfo" parameterType="di.yang.module.api.apiProcessStep" resultType="di.yang.module.api.apiProcessStep">
        select * from api_process_step
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="null != id and '' !=id">
                AND id=#{id}
            </if>
            <if test="null != apiname and '' !=apiname">
                AND apiname=#{apiname}
            </if>
            <if test="null != apiurl and '' !=apiurl">
                AND apiurl=#{apiurl}
            </if>
            <if test="null != apistep and '' !=apistep">
                AND apistep=#{apistep}
            </if>
            <if test="null != apiparamvalue and '' !=apiparamvalue">
                AND apiparamvalue=#{apiparamvalue}
            </if>
            <if test="null != apimethod and '' !=apimethod">
                AND apimethod=#{apimethod}
            </if>
            <if test="null != apiresult and '' !=apiresult">
                AND apiresult=#{apiresult}
            </if>
            <if test="null != apistatus and '' !=apistatus">
                AND apistatus=#{apistatus}
            </if>
            <if test="null != createTime and '' !=createTime">
                AND createTime like '%${createTime}%'
            </if>
            <if test="null != apitestId and '' !=apitestId">
                AND apitestId=#{apitestId}
            </if>
        </trim>
    </select>

    <!--增加单一接口测试用例-->
    <insert id="addApiSingleTest" parameterType="di.yang.module.api.apiSingleTest">
        INSERT INTO api_single_test (apiname,apiurl,apiparamvalue,apimethod,createTime,productId)
        VALUES (#{apiname},#{apiurl},#{apiparamvalue},#{apimethod},NOW(),#{productId})
    </insert>

    <!--更新单一接口测试用例-->
    <update id="updataApiSingleTest" parameterType="di.yang.module.api.apiSingleTest">
        UPDATE api_single_test
        <trim prefix="set" suffixOverrides=",">
            <if test="apiname != null and '' !=apiname">
                apiname=#{apiname},</if>
            <if test="apiurl != null and '' !=apiurl">
                apiurl=#{apiurl},</if>
            <if test="apiparamvalue != null and '' !=apiparamvalue">
                apiparamvalue=#{apiparamvalue},</if>
            <if test="apimethod != null and '' !=apimethod">
                apimethod=#{apimethod},</if>
            <if test="productId != null and '' !=productId">
                productId=#{productId},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <!--添加测试结果-->
    <update id="updataApiSingleTestResult" parameterType="di.yang.module.api.apiSingleTest">
        UPDATE api_single_test
        <trim prefix="set" suffixOverrides=",">
            <if test="apiresponse != null and '' !=apiresponse">
                apiresponse=#{apiresponse},</if>
            <if test="apistatus != null and '' !=apistatus">
                apistatus=#{apistatus},</if>
        </trim>
        WHERE id = #{id} AND productId=#{productId}
    </update>

    <!--单一接口测试用例查询-->
    <select id="getApiSingleTestInfo" parameterType="di.yang.module.api.apiSingleTest" resultType="di.yang.module.api.apiSingleTest">
        select * from api_single_test
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="null != id and '' !=id">
                AND id=#{id}
            </if>
            <if test="null != apiname and '' !=apiname">
                AND apiname like '%${apiname}%'
            </if>
            <if test="null != apiurl and '' !=apiurl">
                AND apiurl like '%${apiurl}%'
            </if>
            <if test="null != apiparamvalue and '' !=apiparamvalue">
                AND apiparamvalue like '%${apiparamvalue}%'
            </if>
            <if test="null != apimethod and '' !=apimethod">
                AND apimethod=#{apimethod}
            </if>
            <if test="null != apiresult and '' !=apiresult">
                AND apiresult like '%${apiresult}%'
            </if>
            <if test="null != apistatus and '' !=apistatus">
                AND apistatus=#{apistatus}
            </if>
            <if test="null != createTime and '' !=createTime">
                AND createTime like '%${createTime}%'
            </if>
            <if test="null != productId and '' !=productId">
                AND productId=#{productId}
            </if>
        </trim>
    </select>

</mapper>